.menu{
    background: #BD5D38;
    height: 1800px;
    /* position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; */
    padding-top: 20px;
    text-align: center;
    
}

.menu a {
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    font-size: 26px;
    color: #EED6CD;
    display: block;
  }

  .menu a:hover{
    font-size: 28px;
    color: white;
  }

  .menu a:active{
    font-size: 28px;
    color: white;
  }

  .menulist{
      margin-top: 50px;
  }

  .menu img{
      width: 165px;
      height: 143px;
      border-radius: 50%;
      border-style: solid;
      border-width: 6px;
      border-color: #CA7D60;
      margin-top: 185px;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
  }

  @media screen and (max-height: 760px) {
    .menu {height: 750px;}
  }