h1{
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 50px;
}

h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

h2{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}

p{
    margin-right: 100px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 20px;
}

.timeline{
    color: #BD5D38
}

.description{
    margin-top: 25px;
    margin-bottom: 25px;
}

ul{
    margin-right: 100px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

ul li{
    padding: 4px;
}
